body, html,
 *   {
        font-size: 10px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
.card,.Bron1,.Bron2,.Bron3,.Bron4,.Bron5{
width: 21%;
height: 35vh;
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap; 
margin:1rem auto;
margin-top:1rem auto;
background-color: rgb(104, 104, 228);
box-shadow: 5px 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Bron1:hover{
    background-color:rgb(32, 168, 91)
}
.Bron2:hover{
    translate: 20px;
}
.Bron3:hover{
    width: 50%;
}
.Bron4:hover{
    margin-top: 30px;
}
.Bron5:hover{
    rotate: 30deg;
}
.card-img{
        height: 75%;
        width: 75%;
}
.card-title{
font-size: 2.2rem;
margin-top: 10;
}
.card-price{
    font-size:1.2rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 1rem auto;
    align-items: center;
}
body{
    background-color:cornflowerblue
}
@keyframes animation {
    from {background-color: cornflowerblue;}
    to {background-color: rgb(252, 252, 149);}
}
  body {
    background-color:rgb(252, 252, 149);
    animation-name: animation;
    animation-duration:20s;
  }
@media screen and (min-width:414px) {
    .card,.Bron1,.Bron2,.Bron3,.Bron4,.Bron5{
    width: 100%;
}
}
@media screen and (max-width:200px) {
    .card,.Bron1,.Bron2,.Bron3,.Bron4,.Bron5{
    width: 40%;
}
}
@media screen and (min-width:821px) {
    .card,.Bron1,.Bron2,.Bron3,.Bron4,.Bron5{
    width: 25%;
}
}